header {
  position: relative;
  z-index: 99;
  padding: 40px 45px;
  width: 100%;
  // background-color: var(--bg-primary-color);

  .container {
    .row {
      .logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 45%;

        .image {
          width: 75px;
          height: 60px;

          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        .name {
          width: 60%;
          color: var(--text-white-color);

          span {
            display: inline;
            font-weight: 700;
            font-size: 22px;
            padding-right: 5px;
          }

          p {
            display: inline;
            font-size: 22px;
          }
        }
      }

      .menubar {
        width: 49%;
        // background-color: var(--bg-primary-color);

        ul {
          display: flex;
          justify-content: end;
          align-items: center;
          flex-wrap: wrap;

          li {
            padding: 5px 20px;

            a {
              text-transform: capitalize;
              font-weight: 700;
              font-size: 18px;
              color: var(--text-white-color);
              opacity: 0.55;

              &.active {
                opacity: 1;
              }
            }
          }
        }
      }

      .mode {
        .toggle-btn {
          display: block;
          cursor: pointer;
          width: 45px;
          height: 25px;
          background-color: #e9e9e9;
          transition: all .3s ease-in-out;
          border-radius: 100px;
          position: relative;
          background-color: #6700da;

          &::after {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            background-color: white;
            border-radius: 50%;
            top: 2.5px;
            right: 2.5px;
            transition: all .3s ease-in-out;
            transform: translate(0px);
          }

          &.active {
            background-color: #e9e9e9;

            &::after {
              transform: translate(-19.5px);
            }
          }

          svg {
            position: absolute;
            height: 12px;
            width: 12px;
            top: 6.5px;

            path {
              font-size: 12px;
            }

            &:nth-child(1) {
              left: 4px;

              path {
                fill: white;
              }
            }

            &:nth-child(2) {
              right: 4px;

              path {
                fill: #4d4d51;
              }
            }
          }
        }
      }

      .menu-icon {
        display: none;

        i {
          font-size: 30px;
          color: white;
        }
      }
    }
  }
}

// header media query start
@media (min-width: 1400px) {}

@media (max-width: 1399px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
  // header start

  header {
    position: fixed;
    top: 0px;
    padding: 14px 25px;
    border-bottom: 5px solid;
    background-color: var(--bg-primary-color);

    .container {
      .row {
        .logo {
          width: 85%;

          .image {
            margin-left: -15px;
          }
        }

        .menubar {
          position: absolute;
          padding: 0px 20px;
          top: 93px;
          width: 50%;
          left: 0px;
          height: 100vh;
          transition: all 0.5s;
          opacity: 0;
          visibility: hidden;
          transform: translate(-100%);
          box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
          border-right: 2px solid #6700da;
          background-color: var(--bg-primary-color);

          ul {
            padding: 10px 0px;
            gap: 10px;
            justify-content: start;

            li {
              width: 100%;
              padding: 0px;

              a {
                display: block;
                width: 100%;
                padding: 10px;
                border-left: 5px solid transparent;

                &.active {
                  border-left: 5px solid #6700da;
                }
              }
            }
          }

          &.active {
            opacity: 1;
            visibility: visible;
            transform: translate(0%);
            transition: all 0.5s;
          }
        }

        .menu-icon {
          display: block;
        }
      }
    }
  }

  // header end
}

@media (max-width: 767px) {

  // header start
  header {
    padding: 15px;
  }

  // header end
}

@media (max-width: 575px) {

  // header start
  header {
    padding: 12px;

    .container {
      .row {
        .logo {
          width: 70%;
        }

        .menubar {
          top: 89px;
        }
      }
    }
  }

  // header end
}

@media (max-width: 350px) {

  // header start
  header {
    .container {
      .row {
        .logo {
          width: 50%;

          .name {
            display: none;
          }
        }
      }
    }
  }

  // header end
}

// header media query end